@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;600;700&display=swap');

:root{
    --main-color:#3867d6;
    --main2-color:#00FF29;
}

*{
    font-family: 'Nunito Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width:1rem;
}

html::-webkit-scrollbar-track{
  background: #444;
}

html::-webkit-scrollbar-thumb{
  background: var(--main-color);
  border-radius: 5rem;
}

body{
    background: #f6f6f6;
    background-image: url('https://i.pinimg.com/originals/01/62/58/01625827cc7b8a2405a795e5effa85e9.png');
    background-repeat: no-repeat;
    background-size: 2263px 1386px;
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 10000;
    background: #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
}

.header .logo{
    font-weight: bolder;
    color:#fff;
    font-size: 2.5rem;
}

.header .logo span{
    color:var(--main2-color)
}

.header .navbar a{
    font-size: 1.7rem;
    color: #fff;
    margin-left: 2rem;
}

.header .navbar a:hover{
    color: var(--main2-color);
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #f6f6f6;
    color: #000000;
    font-family: Tahoma;
    font-size: 16px;
  }

  h1, p {
    margin: 1rem auto;
    text-align: center;
    padding-top: 6rem;
    margin: 2rem auto;
    max-width: 70rem;
  }
  
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
    font-weight: 600;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    font-weight: 600;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-weight: 600;
  }
  
  input, textarea {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #000000;
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  .btn{
    margin-left: 13rem;
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 9rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #000;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}
  
  .inline{
    display: inline; 
  }
  
  a{ color: #dfdfe2;}

  center h1{
    margin-top: -4rem;
  }

.footer{
  background: #262424;
  margin-top: 5rem;
  height: 13rem;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap:1.5rem;
}

.footer .credit p{
  text-align: center;
  color: #fff;
  padding-bottom: 2rem;
  margin-top: -5rem;
  font-size: 2rem;
}

.footer .credit span{
  color:var(--main2-color);
}

.footer img{
width: 20px;
height: 40px;
padding-top: 2rem;
}

.footer a{
  text-align: fixed;
  font-weight: 600;
  font-size: 20px;
  padding-left: 20rem;
  color: #f0f0f0;
}








/* media queries */

@media(max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding:1.5rem 2rem;
  }

  section{
      padding:2rem;
  }
}

@media(max-width:768px){

  .header .navbar{
      position: absolute;
      top: 100%; left: 0; right: 0;
      border-top: .1rem solid #222;
      background: #333;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar .active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .navbar a{
      display: flex;
      background: #222;
      border-radius: .5rem;
      padding: 1.3rem;
      margin: 1.3rem;
      font-size: 2rem;
  }

  .home .content h3{
      font-size: 4rem;
  }

}

@media(max-width:450px){

  html{
      font-size: 50%;
  }

  .home .home-slider .swiper-slide{
      width: 27rem;
  }
}