@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;600;700&display=swap');

:root{
    --main-color:#3867d6;
    --main2-color:#00FF29;
}

*{
    font-family: 'Nunito Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width:1rem;
}

html::-webkit-scrollbar-track{
  background: #444;
}

html::-webkit-scrollbar-thumb{
  background: var(--main-color);
  border-radius: 5rem;
}

body{
    background: #f6f6f6;
    background-image: url('https://wallpaperaccess.com/full/1251466.jpg');
    background-repeat: no-repeat;
    background-size: 2362px 2060px;
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 10000;
    background: #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
}

.header .logo{
    font-weight: bolder;
    color:#fff;
    font-size: 2.5rem;
}

.header .logo span{
    color:var(--main2-color)
}

.header .navbar a{
    font-size: 1.7rem;
    color: #fff;
    margin-left: 2rem;
}

.header .navbar a:hover{
    color: var(--main2-color);
}

.service .heading{
    text-align: center;
    padding-bottom: 2rem;
    color: #646161;
    text-transform: uppercase;
    font-size: 4rem;
    margin: 1rem auto;
    padding-top: 6rem;
    margin: 2rem auto;
    max-width: 70rem;
}

.service .heading span{
    color:var(--main-color);
    text-transform: uppercase;
}


.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

/* 1 */

.box-container:hover{
    transform: scale(1.03);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .left img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .middle {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right {
    margin-top: 60px;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
    font-size: 13px;
  }
  
  .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #666;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}
  
  .btn:hover {
    background-color: #2980b9;
  }

/* 1 */

/* 2 */

.box-container2:hover{
    transform: scale(1.03);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .box-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .left img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .middle {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right {
    margin-top: -10px;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
    font-size: 13px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5rem;
  }
  
  button:hover {
    background-color: #2980b9;
  }
/* 2 */

/* 3 */
.box-container3:hover{
    transform: scale(1.03);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .box-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .left img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .middle {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right {
    margin-top: -10px;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
    font-size: 13px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5rem;
  }
  
  button:hover {
    background-color: #2980b9;
  }
/* 3 */

/* 4 */
.box-container4:hover{
  transform: scale(1.03);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.box-container4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  max-width: 1100px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left {
  display: flex;
  align-items: center;
}

.left img {
  max-width: 100%;
  border-radius: 8px;
}

.middle {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  margin-top: -10px;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
  font-size: 13px;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5rem;
}

button:hover {
  background-color: #2980b9;
}
/* 4 */

/* 5 */
.box-container5:hover{
  transform: scale(1.03);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.box-container5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  max-width: 1100px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left {
  display: flex;
  align-items: center;
}

.left img {
  max-width: 100%;
  border-radius: 8px;
}

.middle {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  margin-top: -10px;
  padding-top: 2rem;
  padding-left: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
  font-size: 13px;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 3rem;
}

button:hover {
  background-color: #2980b9;
}
/* 5 */

.footer{
    background: #262424;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .credit{
    text-align: center;
    color: #fff;
    padding-bottom: 2rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.footer .credit span{
    color:var(--main2-color);
}

.footer img{
  width: 20px;
  height: 40px;
  padding-top: 2rem;
}

.footer a{
  text-align: fixed;
  font-weight: 600;
  font-size: 20px;
  padding-left: 20rem;
  color: #f0f0f0;
}








/* media queries */

@media(max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }
}

@media(max-width:768px){

    .header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        border-top: .1rem solid #222;
        background: #333;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar .active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a{
        display: flex;
        background: #222;
        border-radius: .5rem;
        padding: 1.3rem;
        margin: 1.3rem;
        font-size: 2rem;
    }

    .home .content h3{
        font-size: 4rem;
    }

}

@media(max-width:450px){

    html{
        font-size: 50%;
    }

    .home .home-slider .swiper-slide{
        width: 27rem;
    }
}